language: java
sudo: false # faster builds

before_install:
  - chmod +x ./gradlew
  - pip install --user codecov

after_success:
  - if [ -e ./gradlew ]; then ./gradlew jacocoTestReport;else gradle jacocoTestReport;fi
  - bash <(curl -s https://codecov.io/bash)